{% extends 'axf/base.html' %}
{% load static from staticfiles %}
{% block linkscript%}
<link rel="stylesheet" type="text/css" href="{% static 'profile/css/login.css' %}" />
<script type="text/javascript" charset="utf-8" src="{% static 'profile/js/login.js' %}" ></script>
{% endblock linkscript%}


{% block base %}
<div id="login">
    <a href="/profile/"><p>&lt;返回我的</p></a>
    <div id="box">
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="input-group">
                账号：{{form.username}}
                <br />
                {% if error.username.0 %}
                <span>{{error.username.0}}</span>
                {% endif %}
            </div>
            <div class="input-group">
                密码：{{form.password}}
                <br />
                {% if error.password.0 %}
                <span>{{error.password.0}}</span>
                {% endif %}
            </div>
            <div>
                <img src="temp.png" alt="验证码"/>
                <br/>
                <label>
                    <input class="form-control" type="text" name="verify_code" placeholder="请输入四位数验证码"/>
                    <input type="hidden" name="verify_code_key" value="{{ filename }}"/>
                </label>
            </div>
            <div>
                <input type="submit" value="登陆"/>
                <a href="/register/">没有账号？点我注册</a>
            </div>
        </form>

    </div>
</div>
{% endblock base %}





