{% extends 'axf/base.html'%}
{% load static from staticfiles%}

{% block linkscript %}
<!--用于当css和js需要单独定义时使用-->
<link rel="stylesheet" type="text/css" href="{% static 'trolley/css/trolley.css'%}" />
<script type="text/javascript" charset="utf-8" src="{% static 'trolley/js/trolley.js' %}"></script>
{% endblock linkscript %}

{% block base%}
<h4><b>购物车</b></h4>
<div id="trolley">
    <section class="full">
        <section>
            <ul>
                <li>
                    <div class="clear">
                        <p class="infoJustify">收货人<b></b></p><p>:<span>{{userName|default:0}}</span></p>
                    </div>
                </li>
                <li>
                    <div class="clear">
                        <p class="infoJustify">电话<b></b></p><p>:<span>{{userPhone|default:0}}</span><a class="change">修改></a></p>
                    </div>
                </li>
                <li>
                    <div class="clear"><p class="infoJustify">收货地址<b></b></p><p>:<span>{{userAddress|default:0}}</span></p>
                    </div>
                </li>
            </ul>


            <section class="bill">
                <p>闪送超市</p>
                <p>¥0起送,22:00前满¥30免运费</p>
                <a>凑单专区</a>
            </section>


            <section class="delivery">
                <span>收货时间</span> <span>一小时送达</span> <a>可预订></a>
            </section>
            <section class="delivery">
                <span>收货备注</span> <input type="text" placeholder="可输入100字以内特殊要求内容"/>
            </section>


            <menu>
                <ul>
                    <!--  显示购物车商品信息                    -->
                    {% for item in trolleyList %}
                    <li id="{{item.productid}}li" class="menuList">
                        <div class="confirm">
                            <!--                             单选-->
                            <span class="ischose" goodsid="{{item.productid}}">
                                <span id="{{item.productid}}a">
                                {% ifequal True item.isChose %}
                                    √
                                {% endifequal %}
                                </span>
                            </span>
                        </div>
                        <a href="#">
                            <img src="{{item.productimg}}"/>
                            <p>{{item.productname}}</p>
                            <span id="{{item.productid}}price" class="{{productprice}}">{{item.productprice}}</span>
                        </a>
                        <section>
                            <button class="subShopping"  ga="{{item.productid}}">-</button>
                            <span id="{{item.productid}}">{{item.productnum}}</span>
                            <button class="addShopping"  ga="{{item.productid}}">+</button>
                        </section>
                    </li>
                    {% endfor %}
                    <!-- 付款-->
                    <li class="payTheBill">
                        <div class="confirm">
<!--                             全选-->
                            <span class="chooseall" csa="{{item.productid}}">
                                <span id="_chooseall">
<!--                                    √-->
                                </span>
                            </span>
                        </div>
                        <p><span>全选</span><span>共计:</span><span id="total_price">总价</span></p>
                        <a id="ok">选好了</a>
                    </li>
                </ul>
            </menu>
        </section>
    </section>
</div>

<!--footer图标变色-->
{% if in_trolley %}
    <a href="/trolley/" class="trolley">
        <dl>
            <dt><span></span></dt>
            <dd>购物车</dd>
        </dl>
    </a>
{% endif %}

{% endblock base%}